@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

p {
  color: #96969e;
}

.new {
  padding: 10px;
  border: 1px solid #343434;
  border-radius: 10px;
}

.skill {
  border: 1px solid #343434;
  padding: 5px 12px;
  border-radius: 50px;
  color: #96969e;
}

.active {
  color: white;
  background-color: blueviolet;
}
