@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

p {
  color: #96969e;
}

.new {
  padding: 10px;
  border: 1px solid #343434;
  border-radius: 10px;
}

.skill {
  border: 1px solid #343434;
  padding: 5px 12px;
  border-radius: 50px;
  color: #96969e;
}

.active {
  color: white;
  background-color: blueviolet;
}

::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle when hovered */
}
